#first ignore all
/*

#then allow branch source
!/.gitignore
!/LICENSE
!/AUTHORS
!/README.md
!/composer.json
!/file_upload.php
!/OdtToHtml.php
!/ophir.php

#finally allow required core source
!/library
/library/*

!/library/Implementation
/library/Implementation/*

!/library/Implementation/Behavioral
/library/Implementation/Behavioral/*

!/library/Implementation/Behavioral/Parser
/library/Implementation/Behavioral/Parser/*

!/library/Implementation/Behavioral/Parser/XML.php

